/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Press+Start+2P&display=swap');

/*
font-family: 'Maven Pro', sans-serif;
font-family: 'Press Start 2P', cursive;
*/

:root {
  --pokedex-bg: #D52D2B;
  --pokedex-bg-gradient: linear-gradient(#D52D2B 60%, #6e1816);
  --screen-off-bg: linear-gradient(#3a3939, #000);
  --screen-on-bg: linear-gradient(#b3efff, #dbf7ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Maven Pro', sans-serif;
  min-height: 100vh;
  background: rgb(42,134,193);
  background: linear-gradient(347deg, rgba(42,134,193,1) 40%, rgba(0,254,255,1) 100%);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex {
  background: linear-gradient(#D52D2B 60%, #801d1b);
  min-height: 100vh;
  max-height: 850px;
  max-width: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pokedex-lights {
  width: 250px;
  height: 110px;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  border-radius: 0 0 50px 0;
  box-shadow: -8px -8px #801d1b inset;
  position: absolute;
  top: 0;
  left: 0;
}

.lightblue-light {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #136BA0;
  border: 4px solid #fff;
  margin: .5rem;
}

.red-light,
.yellow-light,
.green-light {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: .5rem;
}

.red-light {
  background: #D22222;
}
.yellow-light {
  background: #E1A135;
}
.green-light {
  background: #417038;
}

.opacity {
  filter: brightness(50%);
}

.light-on {
  filter: brightness(200%);
  box-shadow: 0 0 30px 5px #fff;
}

.pokedex-screen-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  line-height: 150%;
}

.pokedex-outer-screen {
  width: 330px;
  height: 360px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex-inner-screen {
  width: 300px;
  height: 330px;
  border-radius: 30px;
  border: 2px solid #333;
  background: linear-gradient(#242424, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.pokemon-picture {
  width: 180px;
}

.pokemon-main-data,
.pokemon-misc-data {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 0 1rem;
}

.search-controls {
  width: 330px;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-next-controls {
  width: 330px;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.previous-next-controls img {
  filter: invert(1);
}

.previous-next-controls button {
  border: 2px solid #000;
  background: #242424;
  border-radius: 15px;
  padding: 0 30px;
}

.search-input,
.search-btn {
  border-radius: 15px;
  border: 2px solid #000;
  padding: 1rem;
  margin: .25rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}

.search-btn {
  background: #242424;
  color: #fff;
}
.search-input {
  width: 250px;
}

.previous-btn:hover,
.next-btn:hover,
.search-btn:hover {
  background: #696969;
}

.footer {
  text-align: center;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1rem;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer img {
  width: 40px;
  filter: invert(1);
}

@media (min-width: 576px) {
  .pokedex-lights {
    position: absolute;
  }
  .pokedex {
    min-height: 0;
    margin: 20px;
    border-radius: 30px;
    border: 5px solid #801d1b;
    box-shadow: 5px 5px #801d1b;
  }
}