/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Press+Start+2P&display=swap');

/*
font-family: 'Maven Pro', sans-serif;
font-family: 'Press Start 2P', cursive;
*/

:root {
  --pokedex-bg: #D52D2B;
  --pokedex-bg-gradient: linear-gradient(#D52D2B 60%, #6e1816);
  --screen-off-bg: linear-gradient(#3a3939, #000);
  --screen-on-bg: linear-gradient(#b3efff, #dbf7ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

.pokedex {
  background: linear-gradient(#D52D2B 60%, #801d1b);
  min-height: 100vh;
}

.pokedex-lights {
  width: 300px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 0 0 50px 0;
  box-shadow: -8px -8px #801d1b inset;
}

.lightblue-light {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #136BA0;
  border: 4px solid #fff;
  margin: .5rem;
}

.red-light,
.yellow-light,
.green-light {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: .5rem;
}

.red-light {
  background: #D22222;
}
.yellow-light {
  background: #E1A135;
}
.green-light {
  background: #417038;
}

.pokedex-screen-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  line-height: 150%;
}

.pokedex-outer-screen {
  width: 350px;
  height: 450px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex-inner-screen {
  width: 300px;
  height: 400px;
  border-radius: 30px;
  border: 2px solid #333;
  background: linear-gradient(#242424, #000);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-picture {
  grid-column: 1 / 4;
  margin: auto;
  width: 200px;
}

.pokemon-main-data,
.pokemon-misc-data {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 0 1rem;
}

.pokemon-misc-data {
  grid-column: 2 / 4;
}

.search-controls {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-next-controls {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.previous-next-controls button {
  border-radius: 15px;
  padding: 0 30px;
  border: none;
}

.search-input,
.search-btn {
  border-radius: 15px;
  border: none;
  padding: 1rem;
  margin: .25rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}

.search-input {
  width: 250px;
}
